<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>記事一覧</title>
  </head>
  <body>
    <div>
      <form
        action="mock.com"
        method="post"
        th:action="@{/articles/postArticle}"
        th:object="${articleForm}"
      >
        <p th:errors="*{name}">エラーメッセージ</p>
        投稿者名：<input type="text" name="name" th:field="*{name}" /><br />
        <p th:errors="*{content}">エラーメッセージ</p>
        投稿内容：<br /><textarea
          name="content"
          cols="30"
          rows="3"
          th:field="*{content}"
        ></textarea
        ><br />
        <button type="submit">記事投稿</button>
      </form>
    </div>
    <hr />
    <div>
      <div th:each="article : ${articles}">
        <p>投稿者名：<span th:text="${article.name}">山田</span></p>
        <p>投稿内容：</p>
        <pre th:text="${article.content}">新たな投稿です</pre>
        <form
          action="mock.com"
          method="post"
          th:action="@{/articles/deletePost}"
        >
          <input type="hidden" name="articleId" th:value="${article.id}" />
          <button type="submit">記事削除</button>
        </form>
        <div th:each="comment : ${article.commentList}">
          <p>コメント者名：<span th:text="${comment.name}">山田</span></p>
          <p>コメント内容：</p>
          <pre th:text="${comment.name}">書き込みコメント</pre>
        </div>
        <div>
          <form
            action="mock.com"
            method="post"
            th:action="@{/articles/postComment}"
            th:object="${commentForm}"
          >
            <span th:if="${article.id} == *{articleId}">
              <p th:errors="*{commentName}">エラーメッセージ</p>
            </span>
            名前：
            <span th:if="${article.id} != *{articleId}">
              <input type="text" name="name" />
            </span>
            <span th:if="${article.id} == *{articleId}">
              <input type="text" name="name" th:field="*{commentName}" />
            </span>
            <br />
            <span th:if="${article.id} == *{articleId}">
              <p th:errors="*{commentContent}">エラーメッセージ</p>
            </span>
            コメント：<br />
            <span th:if="${article.id} != *{articleId}">
              <textarea name="content" cols="30" rows="3"></textarea>
            </span>
            <span th:if="${article.id} == *{articleId}">
              <textarea
                name="content"
                cols="30"
                rows="3"
                th:field="*{commentContent}"
              ></textarea>
            </span>
            <br />
            <input type="hidden" name="articleId" th:value="${article.id}" />
            <button type="submit">コメント投稿</button>
          </form>
        </div>
        <hr />
      </div>
    </div>
  </body>
</html>
